/* 
Paleta de cores{
    Rosa: #F2CA99
    Branco: #F2F2F2
    Rosa-Branco: #F29727
    Amarelo-Escuro: #F2CB05
    Amarelo: #F2E307   
}

Fontes{
    Fonte Pequena: font-family: 'Coustard', serif;
    Fonte Grande: font-family: 'Roboto', sans-serif; / font-family: 'Catamaran', sans-serif;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  #f7f0f0;
    font-family: 'Coustard', serif;
}

#cabecalho{
    background-color: #fafafa;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 2px solid  #F2CB05;
    /* position: fixed; */
}

#cabecalho img{
    height: 4.5em;
    cursor: pointer;
}

#cabecalho ul{
    flex-grow: 1;
    display: flex;
    margin: 10px;
}

#cabecalho ul li{
   list-style: none;
   margin: 5px;
   cursor: pointer;
   border-bottom:solid 2px  #F2CB05;
   transition-property: color;
   transition-duration: 0.20s;
}

#botoesMenu button{
    margin: 10px;
    font-size: 15px;
}

#botaoLogin{
    cursor: pointer;
    padding: 6px;
    margin: 10px;
    border-style: solid;
    border-color: #F2CB05;
    background: none;
    border-radius: 10px;
    outline: none;
    transition-property: background-color;
    transition-duration: 0.60s;
}

#botaoLogin:hover{
    background-color: #F2CB05;
}

li:hover{
    color: #f2cb05;
}

#infos h1{
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 2.3em;
    margin: 3%;
    color: #050505;
}

#infos p{
    text-align: justify;
    margin: 2%;
}

#itens{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

h2{
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 2.1em;
    margin-top: 2%;
}

#item1, #item2, #item3{
    background-color:  #fceb0093 ;
    box-shadow: 1px 1px 20px black;
    width: 20%;
    height: 400px;
    border-radius: 7%;
    cursor: pointer;
    overflow: inherit;
}

#item1 p, #item2 p, #item3 p{
    margin: 10%;
    text-align: center;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

#item1 li, #item2 li, #item3 li{
    margin: 4%;
    color: #000000;
    font-size: 1.3em;
    list-style: none;
}