/* 
Paleta de cores{
    Rosa: #F2CA99
    Branco: #F2F2F2
    Rosa-Branco: #F29727
    Amarelo-Escuro: #F2CB05
    Amarelo: #F2E307   
}

Fontes{
    Fonte Pequena: font-family: 'Coustard', serif;
    Fonte Grande: font-family: 'Roboto', sans-serif; / font-family: 'Catamaran', sans-serif;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  #f7f0f0;
    font-family: 'Lato', sans-serif;
}

#cabecalho{
    background-color: #fafafa;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    border-bottom: 1px solid #F2CB05;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
}

#cabecalho img{
    height: 4.5em;
    cursor: pointer;
}

#cabecalho ul{
    flex-grow: 1;
    display: flex;
    margin: 10px;
}

#cabecalho ul li{
   list-style: none;
   margin: 5px;
   cursor: pointer;
   border-bottom:solid 2px  #F2CB05;
}

#cabecalho a{
    color: black;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.20s;
}

#botaoMenu{
    margin-right: 2%;
}

#botaoMenu button{
    font-size: 1em;
}

#botaoLogin{
    cursor: pointer;
    padding: 6px;
    margin: 10px;
    border-style: solid;
    border-color: #F2CB05;
    background: none;
    border-radius: 10px;
    outline: none;
    transition-property: background-color;
    transition-duration: 0.60s;
}

#botaoLogin:hover{
    background-color: #F2CB05;
}

#cabecalho a:hover{
    color: #f2cb05;
}

/* Infos Xonfas Construções */

#infos{
    display: flex;
}

h1{
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 2.3em;
    margin: 2%;
    color: #050505;
}

#infos p{
    text-align: justify;
    margin: 2%;
    font-size: 1.1em;
}

#infos img{
    width: 30%;
}

/* Planos */

#itens{
    margin-top: 3%;
    display: flex;
    justify-content:space-around;
}

h2{
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 2.1em;
    margin-top: 2%;
}

.ulItens{
    height: 100%;
}

.item{
    background-color:  #ebe8e8dc ;
    border-radius: 1%;
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 10px 2px #000000;
}

.item p{
    margin: 5%;
    text-align: center;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background-color: #F2CB05;
    width: 100%;
}

.item li{
    margin: 4%;
    color: #000000;
    font-size: 1.1em;
    list-style: none;
}

#itens > div:last-of-type {
    margin-right: 15%;
}
  
#itens > div:first-of-type {
    margin-left: 15%;
}

.preco{
    font-size: 2.5em;
    color: #ccbf0b;
    font-weight: bold;

}

.botaoAssinar{
    margin-right: 35%;
}

.botaoAssinar button{
    margin-top: 10%;
    padding: 20% 70%;
    border-radius: 20px;
    border-style: solid;
    border-color: #ece9e9;
    font-size: 1em;
    outline: none;
    background-color: #F2CB05;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.50s;
}

.botaoAssinar button:hover{
    background-color: #ecde93;
}

/* Entre em contato */

#contato{
    margin-top: 2%;
    display: flex;
}

h3{
    text-align: center;
    font-size: 2.5em;
}

#localizacao{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    font-style: oblique;
}

#localizacao img{
    width: 80%;
}

#localizacao p{
    font-size: 1.3em;
}

#dev{
    width: 60%;
    height: auto;
    display: flex;
    align-content: center;
}

#dev img{
    width: 30%;
}

#dev p{
    margin-top: 10%;
    font-size: 1.5em;
}

#iconsDev{
    position: absolute;
    width: 20%;
    margin-left: 15.3%;
    display: flex;
    margin-top: 8%;
}

#iconsDev a{
    color: black;
    display: flex;
    margin: 1.5%;
    transition-property: color;
    transition-duration: 0.20s;
    text-decoration: none;
    cursor: pointer;
}

#iconsDev a:hover{
    color: #f2cb05;
}

#email{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    text-align: justify;
    margin-right: 1%;
}

#email img{
    width: 70%;
}

#email p{
    width: auto;
    height: auto;
    font-size: 1em;
}