*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f0f0;
    font-family: 'Lato', sans-serif;
}

#fundo{
    background-image: url('/imgs/plan-2092499_1920.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 2.7em;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
}

#container{
    margin: 7% auto;
    background: linear-gradient(#F2CB05, #6e5e09c7) ;
    box-shadow: 4px 5px 3px 5px rgba(0, 0, 0, 0.397);
    width: 50%;
    height: 70vh;
    border-radius: 25px;
    display: flex;
}

#imagem h2{
    position: absolute;
    text-align: center;
    font-size: 2.4em;
    margin-left: 5%;
    color: #f7c628;
    margin-top: 2%;
}

#imagem p{
    position: absolute;
    text-align: center;
    font-size: 1.6em;
    margin-top: 15%;
    width: 21%;
    margin-left: 2%;
    color: #f7c628;
    font-weight: bolder;
}

#imagem{
    width: 50%;
}

#imagem img{
    width: 100%;
    height: 100%;
}

#inputText{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
}

#inputText input{
    margin: 30% 12%;
    font-size: 1.1em;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    color: rgb(29, 28, 25);
}

#inputText > input:first-of-type {
    margin-bottom: -6%; 
}

::-webkit-input-placeholder {
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}
 
:-moz-placeholder { 
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}
 
::-moz-placeholder { 
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}
 
:-ms-input-placeholder {
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}

#iconUser{
    position: absolute;
    margin-top: 8%;
    margin-right: 17.90%;
    color: white;
}

#iconSenha{
    position: absolute;
    margin-top:  15.70%;
    margin-right: 17.90%;
    color: white;
}

#inputText button{
    padding: 15px 40px;
    margin-left: 2;
    cursor: pointer;
    border-radius: 40px;
    border-style: none;
    color: white;
    background-color: #ffc400;
    transition-property: background-color;
    transition-duration: 0.70s;
    font-weight: bolder;
    outline: none;
}

#inputText button:hover{
    background-color: #f5d673;
}

#inputText p{
    margin-top: 10%;
    color: white;
    font-weight: 200;
    cursor: pointer;
    font-size: 0.8em;
}

#inputText a{
    text-decoration: none;
}