*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f0f0;
    font-family: 'Lato', sans-serif;
}

#fundo{
    background-image: url('/imgs/plan-2092499_1920.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 2.7em;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
}

#container{
    margin: 7% auto;
    background: linear-gradient(#F2CB05, #6e5e09c7) ;
    box-shadow: 4px 5px 3px 5px rgba(0, 0, 0, 0.397);
    width: 50%;
    height: 70vh;
    border-radius: 25px;
    display: flex;
}

#imagem h2{
    position: absolute;
    text-align: center;
    font-size: 2.4em;
    margin-left: 5%;
    color: #f7c628;
    margin-top: 2%;
}

#imagem p{
    position: absolute;
    text-align: center;
    font-size: 1.6em;
    margin-top: 15%;
    width: 21%;
    margin-left: 2%;
    color: #f7c628;
    font-weight: bolder;
}

#imagem{
    width: 50%;
}

#imagem img{
    width: 100%;
    height: 100%;
}

#inputText{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
}

#inputText input{
    margin: 30% 12%;
    font-size: 1.1em;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    color: rgb(29, 28, 25);
}

#inputText > input:first-of-type {
    margin-bottom: -6%; 
}

#iconUser{
    position: absolute;
    margin-top: 8%;
    margin-right: 17.90%;
    color: white;
}

#iconSenha{
    position: absolute;
    margin-top:  15.70%;
    margin-right: 17.90%;
    color: white;
}

#inputText button{
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 40px;
    border-style: none;
    color: white;
    background-color: #ffc400;
    transition-property: background-color;
    transition-duration: 0.70s;
    font-weight: bolder;
    outline: none;
}

#inputText button:hover{
    background-color: #f5d673;
}

#inputText p{
    margin-top: 10%;
    color: white;
    font-weight: 200;
    cursor: pointer;
    font-size: 0.8em;
}

#inputText a{
    text-decoration: none;
}

::-webkit-input-placeholder {
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}
 
:-moz-placeholder { 
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}
 
::-moz-placeholder { 
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}
 
:-ms-input-placeholder {
    opacity: 75%;
    font-size: 0.9em;
    color: rgb(29, 28, 25);
    font-weight: 550;
}

/* Mobile */

@media (min-width : 320px) and (max-width: 480px) {   
    #container{
        margin: 7% auto;
        width: 70%;
        height: 50vh;
    }

    #imagem{
        display: none;
    }

    #inputText{
        width: 100%;
        height: 100%;
    }

    #inputText input{
        font-size: .81em;
    }
    #iconUser{
        position: absolute;
        margin-top: 22%;
        margin-right: 49.90%;
        color: white;
    }
    
    #iconSenha{
        position: absolute;
        margin-top:  43.70%;
        margin-right: 49.90%;
        color: white;
    }
    
    #inputText button{
        padding: 15px 40px;
        margin-left: 2;
        cursor: pointer;
        border-radius: 40px;
        border-style: none;
        color: white;
        background-color: #ffc400;
        transition-property: background-color;
        transition-duration: 0.70s;
        font-weight: bolder;
        outline: none;
    }
    
    #inputText button{
        padding: 15px 15px;
    }

    #inputText p{
        margin-top: 3%;
        font-size: 0.7em;
    }

    h1{
        font-size: 2.3em;
    }
}

@media (max-width : 600px) and (max-height: 1024px) {
    #container{
        margin: 7% auto;
        width: 70%;
        height: 50vh;
    }

    #imagem{
        display: none;
    }
}

@media (max-width : 800px) and (max-height: 1280px) {
    #container{
        margin: 7% auto;
        width: 70%;
        height: 50vh;
    }

    #imagem{
        display: none;
    }
}

@media (width : 600px) and (height: 1024px) {
    #container{
        margin: 7% auto;
        width: 70%;
        height: 50vh;
    }

    #imagem{
        display: none;
    }

    #inputText{
        width: 100%;
        height: 100%;
    }

    #inputText input{
        font-size: 1.6em;
    }

    #iconUser{
        margin-top: 23%;
        margin-right: 60.90%;
    }
    
    #iconSenha{
        margin-top: 46%;
        margin-right: 60.90%;
    }
    
    #inputText button{
        padding: 20px 50px;
    }

    #inputText p{
        margin-top: 3%;
        font-size: 1.2em;
    }

    h1{
        font-size: 2.7em;
    }
}

@media (width : 800px) and (height: 1280px) {
    #container{
        margin: 7% auto;
        width: 70%;
        height: 53vh;
    }

    #imagem{
        display: none;
    }

    #inputText{
        width: 100%;
        height: 100%;
    }

    #inputText input{
        font-size: 2em;
    }

    #iconUser{
        margin-top: 23%;
        margin-right: 52.90%;
    }
    
    #iconSenha{
        margin-top: 45%;
        margin-right: 52.90%;
    }
    
    #inputText button{
        padding: 20px 50px;
        font-size: 1.4em;
    }

    #inputText p{
        font-size: 1.2em;
    }

    h1{
        font-size: 4em;
    }
} 

@media (width : 384px) and (height: 640px) {
    #container{
        margin: 7% auto;
        width: 70%;
        height: 60vh;
    }

    h1{
        font-size: 3em;
    }
}

@media (width : 640px) and (height: 360px) {
    #container{
        margin: 7% auto;
        width: 70%;
        height: auto;
    }

    #inputText input{
        font-size: 1em;
        margin-left: 100%;
    }

    #iconUser{
        margin-top: 11%;
        margin-right: 3.90%;
    }
    
    #iconSenha{
        margin-top: 23%;
        margin-right: 3.90%;
    }
    
    #inputText button{
        padding: 20px 50px;
        margin-top: 4%;
        font-size: 0.60em;
        padding: 20px 20px;
        margin-left: 100%;
    }

    #inputText > input:last-of-type {
        margin-bottom: 2%; 
    }

    #inputText p{
        font-size: 1em;
        margin-top: 0;
        width: 100%;
        margin-left: 30%;
    }

    h1{
        font-size: 3em;
    }
}

@media (width : 600px) and (height: 960px) {
    #container{
        margin: 7% auto;
        width: 70%;
        height: 40vh;
    }

    #inputText input{
        font-size: 1.5em;
        margin-left: 100%;
    }

    #iconUser{
        margin-top: 12%;
        margin-right: 22.90%;
    }
    
    #iconSenha{
        margin-top: 26%;
        margin-right: 22.90%;
    }
    
    #inputText button{
        margin-top: 4%;
        font-size: 1em;
        padding: 20px 30px;
        margin-left: 80%;
    }

    #inputText p{
        font-size: 0.80em;
        margin-top: 2%;
        width: 100%;
        margin-left: 45%;
    }

    h1{
        font-size: 4em;
    }
}

@media (width : 320px) and (height: 533px) {
    #container{
        margin: 7% auto;
        width: 70%;
    }

    #iconUser{
        margin-top: 21%;
        margin-right: 54.90%;
    }
    
    #iconSenha{
        margin-top: 43%;
        margin-right: 54.90%;
    }
    
    #inputText button{
        padding: 20px 10px;
        font-size: 0.30;
    }

    #inputText p{
        font-size: 0.80em;
        margin-top: 2%;
        width: 100%;
    }

    h1{
        font-size: 2em;
    }

    #inputText > input:last-of-type {
        margin-bottom: 10%; 
    }
}

@media (width : 480px) and (height: 854px) {
    #container{
        margin: 7% auto;
        width: 70%;
    }

    #inputText input{
        font-size: 1.4em;
    }

    #iconUser{
        margin-top: 23%;
        margin-right: 61.90%;
    }
    
    #iconSenha{
        margin-top: 46%;
        margin-right: 61.90%;
    }
    
    #inputText button{
        padding: 20px 30px;
        font-size: 1.2em;
    }

    #inputText p{
        font-size: 1em;
        margin-top: 2%;
        width: 100%;
    }

    h1{
        font-size: 3em;
    }

    #inputText > input:last-of-type {
        margin-bottom: 10%; 
    }
}

@media (width : 768px) and (height: 1024px) {
    #container{
        margin: 7% auto;
        width: 70%;
    }

    #inputText input{
        font-size: 1.4em;
        margin-left: 100%;
    }

    #iconUser{
        margin-top: 12%;
        margin-right: 7.90%;
    }
    
    #iconSenha{
        margin-top: 24%;
        margin-right: 7.90%;
    }
    
    #inputText button{
        padding: 20px 30px;
        font-size: 1.2em;
        margin-left: 100%;

    }

    #inputText p{
        font-size: 1em;
        margin-top: 2%;
        width: 100%;
        margin-left: 50%;

    }

    h1{
        font-size: 3em;
    }

}

@media (width : 1024px) and (height: 1366px) {
    #container{
        margin: 7% auto;
        height: 40vh;
    }

    #inputText input{
        font-size: 2em;
        margin-left: 100%;
    }

    #iconUser{
        margin-top: 9%;
        margin-right: 19%;
    }
    
    #iconSenha{
        margin-top: 19%;
        margin-right: 19%;
    }
    
    #inputText button{
        padding: 20px 30px;
        font-size: 1.5em;
        margin-left: 80%;

    }

    #inputText p{
        font-size: 1.3em;
        margin-top: 2%;
        width: 100%;
        margin-left: 60%;

    }

    h1{
        font-size: 5em;
    }

    #imagem{
        display: none;
    }

}

/* @mixin for-big-desktop-up { */
@media (min-width: 1800px) { 
    #container{
        margin: 7% auto;
        width: 50%;
        height: 70vh;
    }
    
    #imagem h2{
        font-size: 2.4em;
        margin-left: 8%;
        margin-top: 2%;
    }
    
    #imagem p{
        font-size: 1.8em;
        margin-top: 15%;
        width: 21%;
        margin-left: 2%;
    }
    
    #imagem{
        width: 50%;
    }
    
    #inputText input{
        margin: 30% 12%;
        font-size: 2em;
    }
    
    #inputText > input:first-of-type {
        margin-bottom: -6%; 
    }
    
    #iconUser{
        margin-top: 8.20%;
        margin-right: 19.50%;
    }
    
    #iconSenha{
        margin-top:  16.20%;
        margin-right: 19.50%;
    }
    
    #inputText button{
        padding: 15px 40px;
        font-size: 1.6em;
    }
    
    #inputText p{
        margin-top: 10%;
        font-weight: 200;
        font-size: 0.9em;
    }
}